body{
    background-image:url(../images/décors.gif);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;

}
.plc2{
    width: 100px;
    height: 150px;
    position: relative; 
    top: -9%;   
}
.plc{
    width: 100px;
    height: 150px;
    position: relative; 
    top: 7%;   
    left: 91%;
}
.vvs{
    position: fixed;
    left: 32%;
    width: 600px;
    height: 600px;
}
.perso{
    width: 130px;
    height: 200px;
    background-color: rgba(255, 86, 80, 0.37);
    border-radius: 30%
    }
    .perso2{
        width: 130px;
        height: 200px;
        background-color: rgba(106, 80, 255, 0.37);
        border-radius: 30%
    }
